In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [ ]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [ ]:
# Need some stuff from my previous notebook before I can use all the methods

# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head(10)

In [ ]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th grade at Thomas High School and replace them with NaN.
# student_data_df.loc[]

# school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

ThomasHS_students_all_df = student_data_df.loc[student_data_df["school_name"] == "Thomas High School"] 


ThomasHS_students_9th_df = ThomasHS_students_all_df[ThomasHS_students_all_df["grade"] == "9th"] 

# this is needed later after the all school summary 
ThomasHS_upperclass_only_df = ThomasHS_students_all_df[ThomasHS_students_all_df["grade"] != "9th"]

# ThomasHS_students_9th_df.head(20)
print(ThomasHS_students_9th_df["reading_score"].count())
print(ThomasHS_students_all_df["math_score"].count())
print(ThomasHS_upperclass_only_df["math_score"].count())

# results 1635 students at Thomas High School, 461 in 9th grade 

# this changes it in the data frame but not in the backend data - so how do I get it to work there ? 
ThomasHS_students_9th_df["reading_score"] = np.nan


# ThomasHS_students_9th_df.head(10)
show_THS_only = school_data_complete_df.loc[(ThomasHS_students_9th_df["Student ID"])]
show_THS_only["reading_score"] = np.nan
show_THS_only.head()

In [ ]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
show_THS_only = school_data_complete_df.loc[(ThomasHS_students_9th_df["Student ID"])]
# show_THS_only["reading_score"] = np.nan
show_THS_only["math_score"] = np.nan
show_THS_only.head()

In [ ]:
#  Step 4. Check the student data for NaN's. 
# why won't the valuse replace inside the other data frames?  

show_all_THS = school_data_complete_df.loc[(ThomasHS_students_all_df["Student ID"])]
show_all_THS.head(20)

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [ ]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
# school_data_complete_df.head(10)

In [ ]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
student_count = school_data_complete_df["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
print(student_count, total_budget )

In [ ]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [ ]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
THS_9thgrade_count = ThomasHS_students_9th_df["Student ID"].count()
print(THS_9thgrade_count)

# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()

# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
student_count_2 = student_count - THS_9thgrade_count

student_count_old = student_count
student_count = student_count_2
# show the before and after
print(student_count_old, student_count)

In [ ]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
print(passing_reading_count)

#calculate THS Only scores which are needed below using ThomasHS_students_all_df
ThomasHS_passing_math_count = ThomasHS_students_all_df[(ThomasHS_students_all_df["math_score"] >= 70)].count()["student_name"]
ThomasHS_passing_reading_count = ThomasHS_students_all_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]

In [ ]:
# get the passing percentage using the new student count 

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / float(student_count_2) * 100

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / float(student_count_2) * 100
print(passing_reading_percentage)

# make the new student count the official student count so we don't have to keep editing the variable name
student_count_old = student_count
student_count = student_count_2
print(student_count_old, student_count)

In [ ]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)
                                               & (school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()


# Step 4.Calculate the overall passing percentage with new total student count.
# Calculate the overall passing percentage.
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

In [ ]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])



# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
method_1_count = per_school_summary_df.loc["Thomas High School","Total Students"]

# method 2 - use the count from the actual data
method_2_count = ThomasHS_upperclass_only_df["student_name"].count()
print(method_1_count, method_2_count)

# method 2 is the correct method
THS_upperclass_count= method_2_count

In [ ]:
# Step 6. Get all the students passing math from THS
ThomasHS_upperclass_only_df = ThomasHS_students_all_df.loc[ThomasHS_students_all_df["grade"] != "9th"]
# ThomasHS_upperclass_only_df.head()

ThomasHS_passing_math_count = ThomasHS_upperclass_only_df[(ThomasHS_upperclass_only_df["math_score"] >= 70)].count()["student_name"]
print(ThomasHS_passing_math_count)

In [ ]:
# Step 7. Get all the students passing reading from THS
ThomasHS_passing_reading_count = ThomasHS_upperclass_only_df[(ThomasHS_upperclass_only_df["reading_score"] >= 70)].count()["student_name"]

print(ThomasHS_passing_reading_count)

In [ ]:
# Step 8. Get all the students passing math and reading from THS

THS_passing_both_df = ThomasHS_upperclass_only_df[((ThomasHS_upperclass_only_df["reading_score"] >= 70) & (ThomasHS_upperclass_only_df["math_score"] >= 70))]
THS_passing_both_count = THS_passing_both_df["student_name"].count()
print(THS_passing_both_count)

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
# passing_count = ThomasHS_passing_math_count
# student_count = THS_upperclass_count
# the format is --- overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

THS_passing_math_percent = ThomasHS_passing_math_count / THS_upperclass_count * 100

print(THS_passing_math_percent)

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
THS_passing_reading_percent = ThomasHS_passing_reading_count / THS_upperclass_count * 100
print(THS_passing_reading_percent)

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 

# passing_count = THS_passing_both_count
# student_count = THS_upperclass_count
# the format is --- overall_passing_percentage = overall_passing_math_reading_count / student_count * 100

THS_passing_both_percent = THS_passing_both_count / THS_upperclass_count * 100

# print(per_school_summary_df)

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
# cell_to_change = per_school_summary_df.loc["Thomas High School","% Passing Math"]

per_school_summary_df.loc["Thomas High School","% Passing Math"] = THS_passing_math_percent
print(THS_passing_math_percent)
# per_school_summary_df

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School","% Passing Reading"] = THS_passing_reading_percent
print(THS_passing_reading_percent)

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
per_school_summary_df.loc["Thomas High School","% Overall Passing"] = THS_passing_both_percent

In [ ]:
# per_school_summary_df
per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.

# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head(5)

# The top 5 schools are Cabrera, Thomas, Griffin, Wilson, and Pena.  They are all charter schools.

In [ ]:
# Sort and show (top?) BOTTOM five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

top_schools.head(5)

# The bottom 5 schools are Rodriguez, Figueroa, Huang, Hernandex, and Johnson.  All are "District" schools
# and have a higher number of students than average

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.

# Ran out of time 

# Group each school Series by the school name for the average math score.


# Group each school Series by the school name for the average reading score.

In [ ]:
# Combine each Series for average math scores by school into single data frame.
# Ran out of time

In [ ]:
# Combine each Series for average reading scores by school into single data frame.
# Ran out of time

In [ ]:
# Format each grade column.
# Ran out of time

In [ ]:
# Remove the index.
# Ran out of time 


# Display the data frame
# Ran out of time

In [ ]:
## Remove the index.
# Ran out of time 


# Display the data frame
# Ran out of time

## Scores by School Spending

In [ ]:
# Establish the spending bins and group names.


# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Create the DataFrame

In [ ]:
# Format the DataFrame

## Scores by School Size

In [ ]:
# Establish the bins.

# Categorize spending based on the bins.

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# Format the DataFrame

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns.

In [ ]:
# Assemble into DataFrame.

In [ ]:
# # Format the DataFrame